.FlashCard {
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    perspective: 2500px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    transform: rotateY(180deg);
}

@media only screen and (max-width: 650px) {
    .FlashCard {
        width: 17.3rem;
        height: 25rem;
    }

    .FlashCard h3 {
        font-size: 1.5rem;
        text-align: center;
    }
}